body {
    margin: auto; 
    background: #ffffff;
}

h1 {
  margin: 20px; 50x; 5px: 50px;
}

img {
  display: block;
  margin-left: 200px;
  width: 130px;
  height: 160px; 
}

.text {
  padding-left: 100px;
  }

.reason {
  margin-top: 40px;
  padding-left: 20px;
  line-height: 30px;
}

.telephone{
  margin-bottom: 45px;
}

.text-end{
  margin-bottom: 70px;
}

.line {
  margin-left: 40px;
  margin-bottom: 30px;
  border: none;
  width: 500px;
  height: 1px;
  color: black;
  background: black;
 }
