*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(img/background-line.jpg);
	background-position: left;
	background-position: right;
	background-repeat: repeat-x;
}
	
.wrapper{
    position: absolute;	
	top: 0;
	left: 150px;
	right: 130px;
	bottom: 30px;
    height: 990px;
    width: 1000px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 10px 3px rgba(9,86,117,1);
    -moz-box-shadow: 0px 3px 10px 3px rgba(9,86,117,1);
    box-shadow: 0px 3px 10px 3px rgba(9,86,117,1);
    border-bottom: 3px solid #031d28;
}
    
/* HEADER */
.header-container{
	position: relative;
	overflow: hidden;
	width: 1000px;
	height: 175px;	
}

.logo{
	float: left;
	padding: 5px 25px 0;
	width: 590px;	
}

.contacts{
	float: right;
	height: 65px;
	margin: 11px 35px 35px; 
}

.contacts ul{
    font-size: 12px; 
}

.contacts li{
    list-style: none;
}
   
.contacts li a{
	text-decoration: none;
}

.country{
   clear: right;
}

.country img{
	display: inline-block;
	vertical-align: middle;
	padding-right: 12px;
}

.country li{
	float: left;
    list-style: none;
    font-size: 10px;
}

.country li a{
	text-align: center;
		}

.icon{
	white-space: nowrap;
}

.photo{
	width: 998px;
	height: 238px;
	border: 1px solid #138aa7;
}

.menu{
	background-image: url(img/menu-line.png);
	background-repeat: repeat-x;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(85,85,85,1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(85,85,85,1);
    box-shadow: 0px 3px 0px 0px rgba(85,85,85,1);
    border-bottom: 1px solid black;
    width: 1000px;
    height: 28px;
}
 
 .menu li{
 	position: relative;
	display: inline;
	list-style: none;
	font-size: 14px;
}

.menu li a{
	color: #ffffff;
	line-height: 30px;
	text-decoration: none;
	margin-right: 60px;
}

.menu li:first-child{
    margin-left: 65px;
}

.submenu{
	display: none;
    position: absolute;
	margin-top: 0px;
	width: 200px;
	left: -12px;
}

.submenu li {
	display: block;
}

.submenu li:first-child{
    margin-left: 0;
}

.submenu li a{
    display: block;
    padding: 10px;
    line-height: 20px;
    color: white;
    background-color: #303030;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(71,71,71,1);
    -moz-box-shadow: 0px 3px 3px 0px rgba(71,71,71,1);
    box-shadow: 0px 3px 3px 0px rgba(71,71,71,1);
    text-decoration: none;
}

 .submenu li a:hover{
    text-decoration: underline;
}

.menu li:hover ul.submenu{
    display: block;
}
	

/* CONTENT */
.content{
    position: relative;
	width: 1000px;
	}

.left_column{
	width: 210px; 
	float:left;
	height: 542px;
	margin-top: 3px; 
	background: #edeef0;
}

.central_column{
	width: 577px;
	float:left;
	height: 542px;
	margin-top: 3px;
	border-right: 1px solid #c7cacf;
	border-left: 1px solid #c7cacf;
}

.right_column{
	width: 210px; 
	float:left;
	height: 542px;
	margin-top: 3px;
	background: #edeef0;
}

h2{
	text-align: center;
	margin-top: 10px;
}

p{
    padding: 15px;
    line-height: 25px;
}


/*FOOTER */
.copyright{ 
	clear: both;
	line-height: 30px; 
	color: white;
	font-size: 12px;
	text-align: center;
}
